<nav class="flex items-center justify-between bg-blue p-4 text-white mb-10">
    <div class="flex items-center">
        <h2 class="mr-4">RANDOM SHIT</h2>
        <a href="/" class="mr-4 text-blue-lighter hover:text-white no-underline">Home</a>
        <a href="/portfolio/work" class="mr-4 text-blue-lighter hover:text-white no-underline">Work</a>
        <a href="/portfolio/certificates" class="mr-4 text-blue-lighter hover:text-white no-underline">Certificates</a>
    </div>
    <div class="flex items-center">
        <!-- <a link="#" class="
            inline-block p-2 leading-none border rounded text-white border-transparent bg-black 
            hover:border-transparent hover:text-blue hover:bg-white hover:shadow-lg mt-4">
            Contact Me
        </a> -->
        <a link="#" class="contact-button dave">
            Contact Me
        </a>
    </div>
</nav>