<%- partial("_header") %>

<div class="container w-full bg-white">
</div>
<div class="container m-auto p-6">
    <h1>Introducing...Molly Flynn!</h1>
    <p>
        Molly Flynn is a logical, hardworking, systematic woman 
        who is motivated to join the Tech Industry as a Junior Developer. 
        She has completed courses in the FreeCodeCamp and SoloLearn 
        programs covering Javascript, HTML, CSS, SQL, and Bootstrap. 
        Course completion certificates can be found on the 
        <a href="/portfolio/certificates" class="text-teal-lighter">Certificates</a> page.
    </p>
</div>

<div class="sm:w-2/5 flex shadow-lg flex-col bg-cover bg-center justify-content bg-white m-auto mb-8 p-6 rounded pt-8 pb-8">
        <div class="text-center text-teal mb-6">
          <h2>EMAIL ME</h2>
        </div>
        <div>
          <form>
            <input class="bg-transparent border-b m-auto block border-teal-lighter w-full mb-6 text-teal pb-1" type="password"
                   placeholder="Name"/>
            <input class="bg-transparent border-b m-auto block border-teal-lighter w-full mb-6 text-teal pb-1" type="password"
                    placeholder="Company"/>
            <input class="bg-transparent border-b m-auto block border-teal-lighter w-full mb-6 text-teal pb-1" type="text"
                    placeholder="Email"/>
            <input class="bg-transparent border-b m-auto block border-teal-lighter w-full mb-6 text-teal pb-1" type="text"
                    placeholder="Phone"/>
            <input class="bg-transparent border-b m-auto block border-teal-lighter w-full mb-6 text-teal pb-1 " type="text"
                    placeholder="Message"/>
            <input class="shadow-lg pt-3 pb-3 mt-6 w-full text-white bg-teal hover:bg-blue-light rounded-full "
                   type="submit" value="SUBMIT">
          </form>
        </div>
      </div>