<%- partial("_header") %>
<h1>Introducing...Molly Flynn!</h1>
<p>
    Molly Flynn is a logical, hardworking, systematic woman 
    who is motivated to join the Tech Industry as a Junior Developer. 
    She has completed all courses in the FreeCodeCamp and SoloLearn 
    programs covering Javascript, HTML, CSS, SQL, and Bootstrap. 
    Course completion certificates can be found on the 
    <a href="/portfolio/certificates">Certificates</a> page.
</p>