<%- partial("../_header") %>

<div class="container mx-auto">
  <img src="images/cert-1024-10817198.jpg" alt="Javascript Certificate">
  <img src="images/cert-1014-10817198.jpg" alt="HTML Certificate">
  <img src="images/cert-1023-10817198.jpg" alt="CSS Certificate">
  <img src="images/cert-1060-10817198.jpg" alt="SQL Certificate">
</div>