body
    main id="main-doc"
        nav id="navbar"
            header
                h1 Molly Flynn
            a class="nav-link" href="#home" Home
            a class="nav-link" href="#work" Work
            a class="nav-link" href="#certificates" Certificates
        section class="main-section" id="about-molly"
            p Molly Flynn is a logical, hardworking, systematic woman 
            p who is motivated to join the Tech Industry as a 
            p Junior Developer. She has completed all courses in the 
            p FreeCodeCamp and SoloLearn programs covering Javascript, 
            p HTML, CSS, SQL, and Bootstrap. Course completion 
            p certificates can be found on the 
            p [INSERT LINK - Certificate] page.