body
    main id="main-doc"
        nav id="navbar"
            header
                h1 Molly Flynn
            a class="nav-link" href="#home" Home
            a class="nav-link" href="#work" Work
            a class="nav-link" href="#certificates" Certificates
