<%- partial("../_header") %>

<div class="container mx-auto">
  <h1 class="mb-4">Molly Flynn</h1>
  <p class="codepen" data-height="265" data-theme-id="0" data-default-tab="html,result" data-user="tamaleflynn" data-slug-hash="BqQzda" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid black; margin: 1em 0; padding: 1em;" data-pen-title="Kitten Tribute">
      <span>See the Pen <a href="https://codepen.io/tamaleflynn/pen/BqQzda/">
      Kitten Tribute</a> by mosoflynn (<a href="https://codepen.io/tamaleflynn">@tamaleflynn</a>)
      on <a href="https://codepen.io">CodePen</a>.</span>
    </p>
    <script async src="https://static.codepen.io/assets/embed/ei.js"></script>
</div>